body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
}

.button {
  border-radius: 1.6rem;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  background-color: #555555;
  color: #ffffff;
}

.buttonRegisterLogin {
  background-color: transparent;
  border: none;
  color: #147cde;
  font-size: 1.5rem;
  padding: 0;
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.buttonRegisterLogin:hover {
  text-decoration: none;
}

.buttonLogin {
  width: 12rem;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  margin-top: 1rem;
  background-color: #ed9c3f;
  color: #ffffff;
  margin-bottom: 1rem;
}

.buttonTheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 1.6rem;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  background-color: #555555;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonRegister {
  border-radius: 1.6rem;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  background-color: #155ea2;
  color: #ffffff;
}

.buttonLogOuth {
  width: 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  background-color: #ff0000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  margin-left: 1rem;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  max-width: 100%;
  height: auto;
}

.box {
  text-align: center;
  font-size: 1.5rem;
  padding: 10%;
  background-color: #333333;
}

.loginDark {
  text-align: center;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  margin-bottom: 1.3rem;
  background-color: #c5c5c5;
  color: #0d0d0d;
}

.loginLight {
  text-align: center;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  margin-bottom: 1.3rem;
  background-color: #fafafa;
  color: #969494;
}
.loginDark:hover,
.loginLight:hover {
  border: 0.2rem solid #147cde;
}

.dark {
  background-color: #0d0d0d;
  color: #eeeeee;
}

.light {
  background-color: #f2f2f2;
  color: #1c1c1c;
}

.Bdark {
  color: #ffffff;
  background-color: #444444;
}

.Blight {
  background-color: #fce12c;
  color: #333333;
}
.message {
  color: red;
  background-color: #eeeeee;
  margin: 1rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 1rem;
}
